[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-environ = "*"
dj-rest-auth = "*"
django-allauth = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
django-phonenumber-field = {extras = ["phonenumbers"], version = "*"}
django-browser-reload = "*"
coverage = "*"
django-resized = "*"
pillow = "*"
django-cloudinary-storage = "*"
paystackapi = "2.1.0"
django-taggit = "*"
django-ckeditor = "*"
psycopg2-binary = "==2.9.5"
gunicorn = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.9"
